<div class="modalBanner">
    <app-modal-buttons id="fixedIcons" [value]="data.value"></app-modal-buttons>
</div>
<div class="w-100 mb-4">
    <app-modal-title [title]="title"></app-modal-title>
</div>
<div class="container resumeFontSize">
    <div class="d-flex flex-row">
        <div class="me-2">
            <div class="d-flex justify-content-end mb-2">
                <div class="material-icons">business_center</div>
            </div>
            <div class="timelineBorder">
                <div class="shortBorder"></div>
            </div>
            <div class="d-flex justify-content-center ms-1">
                <div class="material-icons greenCircle">circle</div>
            </div>
            <div class="timelineBorder">
                <div class="innerBorder"></div>
            </div>        
        </div>
        <div class="mt-2">
            <span>
                <div>WORK HISTORY</div>
                <div class="timelineBorder">
                    <div class="emptyShortBorder"></div>
                </div> 
            </span>
            <span>
                <div class="ms-1 mb-2">
                    <span class="dateRange">
                        2022 - Present
                    </span>
                </div>
                <div class="ms-3">
                    <div class="mb-1">
                        Consultant, Full Stack Web Developer
                    </div>
                    <div class="greenText mb-2">
                        Accenture Federal Services
                    </div>
                    <div>
                        Responsible for the overall technological direction in all aspects of the company’s 
                        operation and for the direct communication with upper management and shareholders. Part of a team to successfully navigate the company 
                        from a startx-up to one of Japan’s fastest-growing inbound tourism-related media companies.
                    </div>
                </div>
            </span>
        </div>
    </div>
</div>