.timelineBorder {
    padding-right: 15px;
}

.innerBorder {
    min-height: 180px;
    border-right: 3px solid #F9F9F9;
    min-width: 20px;
}

.shortBorder, .shortEducationBorder {
    min-width: 20px;
    border-right: 3px solid #F9F9F9;
}

.shortBorder {
    min-height: 40px;
}

.shortEducationBorder {
    min-height: 60px;
}

.emptyShortBorder {
    min-height: 57px;
    min-width: 20px;
}

.dateRange {
    color: #4ECE99;
    border: 1px solid #4ECE99;
    border-radius: 8px;
    padding: 4px 8px;
}

.greenCircle {
    color: #4ECE99;
    font-size: 24px;
}


.grayCircle {
    color: #f1f1f1;
    font-size: 24px;
}

.greenText {
    color: #4ECE99;
}

.resumeFontSize {
    font-size: 13px !important;
    height: 450px;
    overflow-y: auto !important;
}

@media (max-width: 600px) {
    .resumeFontSize {
        height: 350px;
    }
}