<div class="hardsetMarginTop">
    <div class="container d-flex flex-row">
        <div class="w-50">
            <span class="h1 fw-bolder titleSize">Christian<br>Aromin</span>
            <div class="mt-2">
                <p class="intro">
                    I am a forward-thinking IT professional with team based leadership experience 
                    with a background in software development. <br>Thank you for visiting my online resume, 
                    if you have any questions, please don't hesitate to reach out!
                </p>
            </div>
        </div>
        <div class="w-50 d-flex justify-content-start flex-row">
            <div class="hardsetMarginLeft"></div>
            <div class="profileImg">          
            </div>
        </div>
    </div>
    <app-modal-buttons></app-modal-buttons>
</div>