<div class="container d-flex flex-row customMt5">
    <button class="text-center me-2 mobileBtn" title="DOWNLOAD CV" (click)="export()">
        <div class="material-icons">download_for_offline</div>
        <div>
            <span class="mobileBtnTitle">DOWNLOAD CV</span>
        </div>
    </button>
    <button class="text-center me-2 mobileBtn" title="ABOUT ME" (click)="open('aboutme')">
        <div class="material-icons">person</div>
        <div>
            <span class="mobileBtnTitle">ABOUT ME</span>
        </div>
    </button>
    <button class="text-center me-2 mobileBtn" title="RESUME" (click)="open('resume')">
        <div class="material-icons">chrome_reader_mode</div>
        <div>
            <span class="mobileBtnTitle">RESUME</span>
        </div>
    </button>
    <!-- <button *ngIf="value!='portfolio'" class="text-center me-2 mobileBtn" title="PORTFOLIO" (click)="open('portfolio')">
        <div class="material-icons">lightbulb</div>
        <div>
            <span>PORTFOLIO</span>
        </div>
    </button> -->
    <button class="text-center me-2 mobileBtn" title="CONTACT" (click)="open('contact')">
        <div class="material-icons">alternate_email</div>
        <div>
            <span class="mobileBtnTitle">CONTACT</span>
        </div>
    </button>
</div>