@import 'bootstrap/scss/bootstrap';
@import 'material-icons/iconfont/material-icons.css';
html, body { height: 100%; }
body { margin: 0; font-family: 'Poppins', sans-serif }

.modalBanner {
    background-image: url('./assets/profile.jpeg');
    background-size: cover;
    background-position: center;
    height: 25vh;
    min-height: 500px;
    max-height: 500px;
    position: relative;
}

#fixedIcons {
    bottom: 10px;
    position: absolute;
}

.subHeader {
    box-shadow: inset 0 -6px 0px #FDF854;
    font-size: 20px;
    letter-spacing: 3px;
}

.material-icons {
    font-size: 34px;
}

.mobileBanner {
    display: none;
}

.modalFooter {
    height: 50px;
}

.hardsetPaddingTop {
    padding-top: 5% !important;
}

.customMt5 {
    margin-top: 1.5rem !important;
}

.aboutContainer {
    height: 450px;
    overflow-y: auto !important;
}

.nounderline {
    text-decoration: none;
}

@media (max-height: 850px) {
    .modalBanner, .mobileBanner {
        min-height: 375px;
        max-height: 375px;
        background-position: top;
    }
}

@media (max-width: 1000px) {
    .mobileBanner {
      display: block;
    }
    .introImage, .mobileHidden {
        display: none !important;
    }
    }
    
    @media (max-width: 600px) {
        .modalBanner, .mobileBanner {
            min-height: 250px;
            max-height: 250px;
            background-position: top;
        }
    
        .modalFooter {
            height: 100px;
        }

        .customMt5 {
            margin-top: 1rem !important;
        }

        .aboutContainer {
            height: 300px;
        }
                
        .h1 {
            font-size: 5rem !important;
            }
            .intro {
                overflow-wrap: normal;
                width: 400px !important;
                font-size: 20px !important;
                }
                }
                
                @media (max-width: 430px) {
                    .h1 {
                        font-size: 4rem !important;
                        }
    .intro {
        overflow-wrap: normal;
        width: 360px !important;
        font-size: 20px !important;
    }
    .mobileBtnTitle {
        font-size: 11px;
    }
    .mobileBtn {
        min-width: 80px !important;
    }
}