<div class="modalBanner">
    <app-modal-close></app-modal-close>
    <app-modal-buttons id="fixedIcons" [value]="data.value"></app-modal-buttons>
</div>
<div class="w-100 mb-2">
    <app-modal-title [title]="title"></app-modal-title>
</div>
<div class="container">
    If you would like to get in touch, please don't hesitate to contact me via <span class="fw-bold">{{userInfo.email}}</span> or directly on 
    <a target="_blank" href="{{userInfo.linkedin}}">Linkedin</a>.
</div>
<div class="modalFooter"></div>